<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- CSS -->
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
<link rel="stylesheet" href="/stylesheets/ngDialog/ngDialog.css">
<link rel="stylesheet" href="/stylesheets/ngDialog/ngDialog-theme-default.css">
<link rel="stylesheet" href="/stylesheets/ngDialog/ngDialog-theme-plain.css">
<link rel="stylesheet" href="/stylesheets/ngDialog/ngDialog-custom-width.css">
<style>
	body 	{ padding-top:50px; }
</style>

