<!DOCTYPE html>
<html ng-app="validationApp">

<head>
	<% include ../partials/head %>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
	<div class="container">

		<header>
			<% include ../partials/header %>
		</header>

		<div class="jumbotron">
			<ng-view></ng-view>
		</div>
	</div>
	
	

	<footer>
		<% include ../partials/footer %>
	</footer>

	<!-- JS -->
	<script src="//npmcdn.com/api-check@latest/dist/api-check.js"></script>
	<script src="javascript/lib/angular-1.4.8/angular.js"></script>
	<script src="javascript/lib/angular-1.4.8/angular-route.min.js"></script>
	<script src="javascript/lib/angular-1.4.8/angular-resource.min.js"></script>
	<script src="javascript/lib/angular-1.4.8/angular-messages.min.js"></script>
	
	   <!-- This is the current state of master for formly core. -->
    <script src="//npmcdn.com/angular-formly@latest/dist/formly.js"></script>
    <!-- This is the current state of master for the bootstrap templates -->
    <script src="//npmcdn.com/angular-formly-templates-bootstrap@latest/dist/angular-formly-templates-bootstrap.js"></script>
	<script src="/javascript/validationApp.js"></script>
	<script src="/javascript/mainController.js"></script>
	<script src="/javascript/subController.js"></script>
	<script src="/javascript/province.js"></script>
	<script src="/javascript/validationMainController.js"></script>
	<script src="/javascript/validationRoutes.js"></script>


</body>


</html>