<!DOCTYPE html>
<html ng-app="app">
<head>
  	<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
	
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			    <ng-view></ng-view>
			
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
	
	<script src="//unpkg.com/api-check@latest/dist/api-check.js"></script>
	<script src="javascript/lib/angular-1.4.8/angular.js"></script>
	<script src="javascript/lib/angular-1.4.8/angular-route.min.js"></script>
	<script src="javascript/lib/angular-1.4.8/angular-resource.min.js"></script>
	<script src="javascript/lib/angular-1.4.8/angular-messages.min.js"></script>
	
	<!-- This is the current state of master for formly core. -->
    <script src="//unpkg.com/angular-formly@latest/dist/formly.js"></script>
    <!-- This is the current state of master for the bootstrap templates -->
    <script src="//unpkg.com/angular-formly-templates-bootstrap@latest/dist/angular-formly-templates-bootstrap.js"></script>
	
	<script type="text/javascript" src='/javascript/lib/ngDialog.js'></script>
	
	<script type="text/javascript" src='/javascript/app.js'></script>

	<script type="text/javascript" src='/javascript/ApplicationController.js'></script>
	<script type="text/javascript" src='/javascript/InsideCtrl.js'></script>
	<script type="text/javascript" src='/javascript/ClientsController.js'></script>
	<script type="text/javascript" src='/javascript/ClientsController.js'></script>
	<script type="text/javascript" src='/javascript/routes.js'></script>

</body>
</html>