<!DOCTYPE html>
<html ng-app="app">
<head>
  	<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
	
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			    <ng-view></ng-view>
			
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
	
	<script type="text/javascript" src='/javascript/lib/ngDialog.js'></script>
	
	<script type="text/javascript" src='/javascript/app.js'></script>

	<script type="text/javascript" src='/javascript/ApplicationController.js'></script>
	<script type="text/javascript" src='/javascript/InsideCtrl.js'></script>
	<script type="text/javascript" src='/javascript/ClientsController.js'></script>
	<script type="text/javascript" src='/javascript/ClientsController.js'></script>
	<script type="text/javascript" src='/javascript/routes.js'></script>

</body>
</html>