<h3>Recent Clients</h3>
<form role='form'>
  <div class='form-group'>
    <div class="input-group">
      <!--<input ng-model="clientName" class='form-control'>
      <span class='input-group-btn'>-->
      <!--<button ng-click='addPost()' class='btn btn-default'>Add Post</button>-->
      </span>
    </div>
  </div>
</form>

<!--<button type="button" ng-dialog="firstDialogId" ng-dialog-controller="InsideCtrl" ng-dialog-data="{{jsonData}}" ng-dialog-class="ngdialog-theme-default" ng-dialog-show-close="false">Add New</button>-->
<button type="button" class="btn-primary btn-md" ng-click="open()">Add New</button>
<ul class='clients list-group'>
  <li ng-repeat="client in clients | orderBy:'-date'" class='list-group-item'>
    <strong>@{{ client.firstName }}</strong> &nbsp;
    <span>{{ client.lastName }}</span>
  </li>
</ul>

<script type="text/ng-template" id="dialogWithNestedConfirmDialogId">
  <form name="clientForm" ng-submit="submitForm(clientForm.$valid)" novalidate>

    <!-- NAME -->
    <div class="form-group" ng-class="{ 'has-error' : clientForm.firstName.$invalid && !clientForm.firstName.$pristine }">
      <label>First Name*</label>
      <input type="text" name="firstName" class="form-control" ng-model="user.firstName" required>
      <p ng-show="clientForm.firstName.$invalid && !clientForm.firstName.$pristine" class="help-block">You name is required.</p>
    </div>

    <!-- USERNAME -->
    <div class="form-group" ng-class="{ 'has-error' : clientForm.lastName.$invalid && !clientForm.lastName.$pristine }">
      <label>Last Name</label>
      <input type="text" name="lastName" class="form-control" ng-model="user.lastName" ng-minlength="3" ng-maxlength="8">
      <p ng-show="clientForm.lastName.$error.minlength" class="help-block">Username is too short.</p>
      <p ng-show="clientForm.lastName.$error.maxlength" class="help-block">Username is too long.</p>
    </div>

    <!-- EMAIL -->
    <div class="form-group" ng-class="{ 'has-error' : clientForm.email.$invalid && !clientForm.email.$pristine }">
      <label>Email</label>
      <input type="email" name="email" class="form-control" ng-model="user.email">
      <p ng-show="clientForm.email.$invalid && !clientForm.email.$pristine" class="help-block">Enter a valid email.</p>
    </div>

    <div class="ngdialog-buttons">
      <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('Cancel')">Cancel</button>
      <button type="submit" class="ngdialog-button ngdialog-button-primary" ng-click="confirm('Save')" ng-disabled="clientForm.$invalid">Save</button>
    </div>


  </form>



  </form>

</script>